body {
  text-align: senter;
  font-family:sans-serif;
}

h1 {
  font-size: 32px;
  text-align: center
}
#count {
  font-size: 48px;
  margin: 20px 0;
}
button{
  font-size:20px;
  padding:10px 20px;
  margin:5px;
}
